name: Continuous Integration
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
jobs:
  build-test-and-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.100-rc.1
      - name: Restore
        run: dotnet restore
        continue-on-error: false
      - name: Build
        run: dotnet build --no-restore
        continue-on-error: false
      - name: Test
        run: dotnet test --no-restore --logger trx --results-directory ./testsResults
      - name: Report
        uses: bibipkins/dotnet-test-reporter@v1.0.0-beta.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          test-results: ./testsResults
          comment-title: 'Tests Results'